__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.venv

.env
*.db
*.sqlite
*.sqlite3

docker-compose.override.yml

.vscode/
.idea/
*.swp
*.swo
.DS_Store

*.log

.pytest_cache/
.coverage
htmlcov/

parte-1-odoo/addons/web/
parte-1-odoo/addons/web_enterprise/